<template>
       <h1>Sign up</h1> 
       <label for="username"> username</label>
       <input type="text" placeholder="username" />
       
       <label for="e-mail"> username</label>
       <input type="email" placeholder="e-mail" />
</template>